/*==========================================
    login
==========================================*/
.login {
    padding: 120px 0 120px;
    &.login-1 {
        padding: 120px 0 90px;
    }
    &.login-4 {
        background: aliceblue;
        .part-form {
            background: $white;
        }
    }
    .part-text {
        h3 {
            font-size: 30px;
            color: $base-color;
            font-weight: 700;
            margin-bottom: 16px;
            margin-top: -7px;
        }
        p {
            font-size: 16px;
            line-height: 30px;
            color: $base-color;
            margin-bottom: 44px;
        }
        .brands {
            .single-brand {
                margin-bottom: 30px;
                img {
                    padding: 20px;
                    border: 1px solid rgba(0, 0, 80, 0.2);
                }
            }
        }
    }
    .part-form {
        padding: 40px 30px 38px;
        background: aliceblue;
        form {
            input {
                height: 60px;
                border: 1px solid $base-color-2;
                width: 100%;
                margin-bottom: 30px;
                padding: 30px;
            }
            img {
                border: 1px solid $base-color-2;
                margin-bottom: 30px;
            }
            button {
                background: $base-color-2;
                color: $white;
                width: 100%;
                height: 60px;
                border: 1px solid $base-color-2;
                @include transition($transition);
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    color: $base-color-2;
                    background: transparent;
                }
            }
        }
    }
    .login-with-social {
        padding: 40px 30px 39px;
        background: aliceblue;
        a.social-link {
            display: inline-block;
            width: 100%;
            height: 60px;
            text-align: center;
            color: $white;
            text-transform: uppercase;
            line-height: 60px;
            margin-bottom: 30px;
            font-weight: 500;
            @include transition($transition);
            &.facebook {
                background: $facebook;
                border: 1px solid $facebook;
                &:hover {
                    color: $facebook;
                    background: transparent;
                }
            }
            &.google {
                background: $google-plus;
                border: 1px solid $google-plus;
                &:hover {
                    color: $google-plus;
                    background: transparent;
                }
            }
            &.twitter {
                background: $twitter;
                border: 1px solid $twitter;
                &:hover {
                    color: $twitter;
                    background: transparent;
                }
            }
            &.linkedin {
                background: $linkedin;
                border: 1px solid $linkedin;
                &:hover {
                    color: $linkedin;
                    background: transparent;
                }
            }
            &.instagram {
                background: $instagram;
                margin-bottom: 0;
                border: 1px solid $instagram;
                &:hover {
                    color: $instagram;
                    background: transparent;
                }
            }
        }
    }
    .login-title {
        font-size: 30px;
        color: $base-color;
        font-weight: 600;
        margin-top: -5px;
        margin-bottom: 35px;
    }
    span.forget-password {
        font-size: 16px;
        color: $base-color;
        display: inline-block;
        margin-top: 25px;
        a {
            display: inline-block;
            color: $base-color-2;
            margin-left: 6px;
        }
    }
    .line {
        position: relative;
        height: 100%;
        width: 100%;
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            width: 2px;
            height: 100%;
            content: '';
            background: #9999b9;
            left: 50%;
            margin-left: -1px;
            z-index: -1;
        }
        .or {
            width: 120px;
            height: 120px;
            background: #9999b9;
            text-align: center;
            line-height: 120px;
            color: $white;
            font-weight: 700;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            margin-left: -60px;
            top: 50%;
            margin-top: -60px;
        }
    }
}